/*
 * Empty Stylesheet file.
 */

    


.labelryi{
    
    -fx-text-fill: rgb(72 ,93, 112);
}
.mainFxmlClass {
-fx-background-color:rgb(72 ,93, 112);
}

.container{
    -fx-background-color:white;
}
